* {
  transition: 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #171825;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}

h1 {
  background: linear-gradient(to right, #7bdaf7, #3d3e78);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 0;
  font-size: 2.4rem;
}

.calculator {
  background-color: #262a37;
  margin: 0 auto;
  padding: 7px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #7bdaf7c9;
}

.row input {
  background-color: transparent;
  color: #fff;
  padding: 0;
  width: 100%;
  height: 5rem;
  border-style: none;
  border-radius: 12px;
  font-size: 1.6rem;
  text-align: right;
  outline: none;
  border-bottom: 2px solid #fff;
}

.row {
  margin-top: 5px;
}

.button {
  background-color: #d4e4ee;
  width: 5rem;
  padding: 1.5rem;
  margin: 2.5px;
  font-size: 1.6rem;
  border-radius: 15px;
  border-style: none;
  cursor: pointer;
}

.button:active {
  transform: scale(0.95);
  background-color: #d4e4ee49;
  color: #fff;
}

.button.keyboard-active,
.button.active {
  transform: scale(0.95);
  background-color: #d4e4ee49;
  color: #fff;
}

/* footer */
.footer {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

.footer a {
  text-decoration: none;
  color: #7bdaf7;
  margin-left: 0.25rem;
}

@media only screen and (max-width: 490px) {
  * {
    transition: 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
  }
  h1 {
    margin-top: 4rem;
    font-size: 1.4rem;
  }

  .row input {
    padding: 0;
    width: 100%;
    height: 4rem;
    font-size: 1.3rem;
  }

  .button {
    width: 3.6rem;
    padding: 1.2rem;
    margin: 1.5px;
    font-size: 1rem;
  }

  .footer {
    margin-bottom: 4rem;
    font-size: 0.7rem;
  }
}
