html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #171825;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}

h1 {
    color: #7bdaf7;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0;
    font-size: 2.4rem;
}

.calculator {
    background-color: #262a37;
    margin: 0 auto;
    padding: 5px;
    border-radius: 15px;
}

.row input {
    background-color: #d4e4ee;
    margin-bottom: 5px;
    padding: 0;
    width: 100%;
    height: 5rem;
    border-style: none;
    border-radius: 15px;
    font-size: 1.6rem;
    outline: none;
}

.row {
    margin: 5px;
}

.button {
    background-color: #d4e4ee;
    width: 5rem;
    padding: 1.5rem;
    margin: 2.5px;
    font-size: 1.6rem;
    border-radius: 15px;
    border-style: none;
    cursor: pointer;
}

/* footer */
.footer {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    margin-bottom: 2rem;
    
}

.footer a {
    text-decoration: none;
    color: #7bdaf7;
    margin-left: 0.25rem;
}

@media only screen and (max-width: 490px) {
    h1 {
        margin-top: 4rem;
        font-size: 1.4rem;
    }

    .calculator {
        margin: 0 auto;
        padding: 2px;
    }

    .row input {
        margin-bottom: 5px;
        padding: 0;
        width: 100%;
        height: 4rem;
        font-size: 1.3rem;
    }

    .button {
        width: 3.5rem;
        padding: 1.1rem;
        margin: 1.5px;
        font-size: 1rem;
    }

    .footer {
        margin-bottom: 4rem;
        font-size: 0.7rem;
    }
}